node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Private keys
cashflow-dashboard-*-*.json

# Don't ignore package.json / tsconfig.json
!package.json
!package-lock.json
!tsconfig.json
!svelte.config.js
